.card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
   
   margin: 70px;
   width: 400px;
   height:530px;
  float: left;
    
    text-align: center;
    
  display: inline-block;
   
}
@media (max-width:768px){
    .card{
        transform: scale(.7); 
        padding: 0px;
        float: none;
        margin: 0px;
        width: 100%;
        

       
       
        
       
    }
    
}

.title1 {
    color:#aaa;
    font-size: 26px;
    font-weight: 500;
}

but1 {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.repp{
    text-decoration: none;
    font-size: 22px;
    color: black;
}


.iii
{
    margin:auto;
    background-color: red;
    
}
